<div class="client-page" *ngIf="client">
    <div class="client-container">
        <div class="name-box">
            <div>
                {{client.firstName}} {{client.middleName}} {{client.lastName}}
            </div>
        </div>
        <div class="user-box">
            <div class="photo-info-box">
                <div class="photo-box">
                    <div class="photo">
                        <img src="assets/images/profile.jpg" alt="">
                    </div>
                </div>
                <div class="info-box">
                    <div class="info">
                        <div class="row">
                            <div class="key">Телефон</div>
                            <div class="value">{{client.phone}}</div>
                        </div>
                        <div class="row">
                            <div class="key">Возраст</div>
                            <div class="value">{{client.age}}</div>
                        </div>
                        <div class="row">
                            <div class="key">Пол</div>
                            <div class="value">{{client.gender}}</div>
                        </div>
                        <div class="row">
                            <div class="key">Адрес</div>
                            <div class="value">{{client.location}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-box">
                <div class="control">
                    <div class="control-button">
                        <div>Удалить</div>
                    </div>
                    <div class="control-button">
                        <div>Связаться</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="files-box">
            <div class="title">Файлы пользователя</div>
            <div class="files">
                <health-user-file *ngFor="let file of client.files" [file]="file"></health-user-file>
            </div>
        </div>
    </div>
</div>