.query {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    height: 35px;
    border-radius: 5px;
    justify-content: space-between;
}

.query input {
    width: 90%;
    border: initial;
    outline: initial;
    padding: 2px 10px;
    font-size: 17px;
}

.search-icon, .clear-button {
    width: 5%;
    display: flex;
}

.search-icon fa, .clear-button fa {
    color: rgba(0, 0, 0, 0.25);
    margin: auto;
}

.clear-button:hover {
    cursor: pointer;
}