<!--<div class="search">
    <input type="text" [(ngModel)]="query" (keyup)="onKeyUp()">
    <button (click)="clear()">clear</button>
</div>-->

<div class="search-container">
    <div class="search">
        <div class="query">
            <div class="search-icon">
                <fa [name]="'search'"></fa>
            </div>
            <input type="text" [(ngModel)]="query" (keyup)="onKeyUp()">
            <div class="clear-button" (click)="clear()">
                <fa [name]="'times'"></fa>
            </div>
        </div>
    </div>
</div>