<div class="profile">
    <div class="image">
        <img src="assets/images/profile.png" alt="">
    </div>
    <div class="info">
        <div>Фамилия {{client.lastName}}</div>
        <div>Имя {{client.firstName}}</div>
        <div>Отчество {{client.middleName}}</div>
    </div>
</div>
<div class="control">
    <div (click)="showClient()">
        <fa [name]="'eye'"></fa>
    </div>
    <div *ngIf="isAdmin" (click)="deleteClient()">
        <fa [name]="'trash'"></fa>
    </div>
    <div (click)="openChat()">
        <fa [name]="'envelope-o'"></fa>
    </div>
</div>



<!-- <div class="client">
    <div class="photo-box">
        <img src="assets/images/profile.png" alt="">
    </div>
    <div class="info-box">
        <div class="info">
            <div>{{client.firstName}}</div>
            <div>{{client.middleName}}</div>
            <div>{{client.lastName}}</div>
        </div>
    </div>
    <div class="control-box">
        <div class="control-button" (click)="showClient()">
            <fa [name]="'eye'"></fa>
        </div>
        <div *ngIf="role === 0" class="control-button" (click)="deleteClient()">
            <fa [name]="'trash'"></fa>
        </div>
        <div class="control-button" (click)="openChat()">
            <fa [name]="'envelope-o'"></fa>
        </div>
    </div>
</div> -->


<!--<div class="client">
    <div class="client-name">{{client.name}}</div>
    <div class="client-info">info</div>
    <div class="client-toolbar">
        <button [ngClass]="{'unread-message': haveUnread}" #chatButton (click)="showChat()">chat</button>
        <button>delete</button>
    </div>
</div>-->