.client {
    display: flex;
    margin: 10px;
    height: 70px;
    box-shadow: -7px 6px 20px 0px rgba(0,0,0,0.3);
}

.photo-box {
    width: 10%;
    display: flex;
}

.photo-box img {
    margin: auto;
    height: 80%;
}

.info-box {
    width: 80%;
    display: flex;
}

.info {
    height: 80%;
    margin: auto 0;
}

.control-box {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.control-button {
    margin: auto;
    height: 35px;
    width: 35px;
    display: flex;
    box-shadow: -3px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.control-button:hover {
    box-shadow: -3px 2px 6px 0px rgba(0, 0, 0, 0.8);
}

.control-button:active {
    box-shadow: -3px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.control-button fa {
    margin: auto
}

