@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/variables.scss';
:host {
    display: flex;
    border: 1px solid $border-color;
    box-sizing: border-box;
    height: 150px;
    margin: 5px 0;
    @media #{$phone} {
        flex-direction: column;
        height: auto;
    }
}

.image,
.info {
    padding: 5px;
    box-sizing: border-box;
}

.image {
    display: flex;
    @include centered();
    border-right: 1px solid $border-color;
    box-sizing: border-box;
    @include width(250px);
    & img {
        max-width: 95%;
        max-height: 95%;
    }
    @media #{$tablet} {
        @include width(150px);
    }
    @media #{$phone} {
        height: 150px;
    }
}

.profile {
    width: 100%;
    display: flex;
}

.control {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-left: 1px solid $border-color;
    & div {
        flex: 1;
        cursor: pointer;
        background: lighten($primary-color, 5%);
        color: lighten($primary-color, 50%);
        display: flex;
        @include centered();
        font-size: 18px;
        &:hover {
            background: darken($second-color, 5%);
            color: $white;
        }
    }
    @media #{$phone} {
        height: 50px;
        flex-direction: row;
        border-left: initial;
        border-top: 1px solid $border-color;
    }
}

.info {
    width: 100%;
}