<div class="auth-wrapper">
    <div class="auth">
        <div class="form-wrapper">
            <form class="auth-input">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
            </form>
            <div class="auth-btn">
                <button class="login-btn">Войти</button>
                <button class="remind-btn">Забыли?</button>
            </div>
        </div>
    </div>
    <div class="social-auth">
        <div class="btn-wrapper">
            <button class="social-btn">Facebook</button>
            <button class="social-btn">Vkontakte</button>
            <button class="social-btn">Google</button>
            <button class="social-btn">Регистрация</button>
        </div>
    </div>
</div>