.auth-wrapper {
    height: 100%;
}

.auth {
    position: absolute;
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;

    background-color: lightgray;
}

.auth-input, .auth-btn {
    width: 100%;
}

.auth-btn {
    padding: 4% 5%;
}

.login-btn {
    position: absolute;
}

.remind-btn {
    float: right;
}

.form-wrapper, .btn-wrapper {
    width: 25%;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.auth-input input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #aaa;
    margin-bottom: 5%;
    padding: 4% 5%;
    width: 100%;
}

.auth-btn button {
    display: block;
    width: 50%;
    background: #000;
    color: #aaa;
    border: none;
    padding: 4% 5%;
}

.social-auth {
    width: 50%;
    height: 100%;
    margin-left: 50%;
    position: absolute;

    background-color: lightblue;
}

.social-btn {
    display: block;
    width: 100%;
    background: #000;
    color: #aaa;
    border: none;
    margin: 5%
}