<div class="auth-wrapper">
    <div class="auth">
        <button (click)="switch()">Регистрация</button>
        <div class="form-wrapper" *ngIf="isSignIn;else signUp">
            <form class="auth-input">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
            </form>
            <div class="auth-btn">
                <button class="login-btn">Войти</button>
                <button class="remind-btn">Забыли?</button>
            </div>
        </div>
    </div>
    <div class="social-auth">
        <div class="btn-wrapper">
            <button class="social-btn">Facebook</button>
            <button class="social-btn">Vkontakte</button>
            <button class="social-btn">Google</button>
            <button class="social-btn">Регистрация</button>
        </div>
    </div>
</div>

<ng-template #signUp>
    <div class="form-wrapper">
        signup
    </div>
</ng-template>