<div class="auth-wrapper">
    <div class="auth">
        <button (click)="switch()">{{isSignIn ? 'sign up' : 'sign in'}}</button>
        <div class="form-wrapper" *ngIf="isSignIn;else signUpTemplate">
            <form class="auth-input" [formGroup]="signInForm">
                <input formControlName="name" type="text" placeholder="name">
                <input formControlName="password" type="password" placeholder="password">
            </form>
            <div class="auth-btn">
                <button class="login-btn" (click)="signIn()">Sign In</button>
                <button class="remind-btn">Забыли?</button>
            </div>
        </div>
    </div>
    <div class="social-auth">
        <div class="btn-wrapper">
            <button class="social-btn">Facebook</button>
            <button class="social-btn">Vkontakte</button>
            <button class="social-btn">Google</button>
        </div>
    </div>
</div>

<ng-template #signUpTemplate>
    <div class="form-wrapper">
        <form class="auth-input" [formGroup]="signUpForm">
            <input formControlName="name" type="text" placeholder="name">
            <input formControlName="password" type="password" placeholder="password">
            <input formControlName="role" type="number" placeholder="user group">
        </form>
        <div class="auth-btn">
            <button class="login-btn" (click)="signUp()">Sign Up</button>
        </div>
    </div>
</ng-template>