<health-image-viewer [show]="view" [extension]="extension" (onCloseEvent)="close($event)"></health-image-viewer>
<div class="file">
    <div class="file-icon">
        <fa [name]="icon" [size]="3"></fa>
    </div>
    <div class="file-name">
        <div *ngIf="!renaming;else renameInput">
            {{file.name}}
        </div>
        <ng-template #renameInput>
            <div>
                <input class="input-name" type="text" [(ngModel)]="file.name" autofocus>
            </div>
        </ng-template>
    </div>
    <div class="control-box">
        <div class="control-button" (click)="view = !view">
            <fa [name]="'eye'"></fa>
        </div>
        <div class="control-button" (click)="deleteFile()">
            <fa [name]="'trash'"></fa>
        </div>
        <div class="control-button" (click)="renameFile()">
            <fa [name]="'pencil'" ></fa>
        </div>
    </div>
</div>