<health-image-viewer [show]="view" [extension]="extension" [src]="src" (onCloseEvent)="close($event)"></health-image-viewer>
<div class="file">
    <div class="file-icon">
        <fa [name]="icon" [size]="3"></fa>
    </div>
    <div class="file-name">
        <div *ngIf="!rename;else renameInput">
            {{file.originalName}}
        </div>
        <ng-template #renameInput>
            <div>
                <input class="input-name" type="text" [(ngModel)]="originalName" autofocus>
            </div>
        </ng-template>
    </div>
    <div class="control-box" *ngIf="!rename&&!delete; else dialogControlBox">
        <div class="control-button" (click)="openDialog('delete')">
            <fa [name]="'trash'"></fa>
        </div>
        <div class="control-button" (click)="view = !view" *ngIf="viewAllowed()">
            <fa [name]="'eye'"></fa>
        </div>
        <div class="control-button" (click)="openDialog('rename')">
            <fa [name]="'pencil'"></fa>
        </div>
    </div>
    <ng-template #dialogControlBox>
        <div class="control-box">
            <div class="control-button" (click)="apply()">
                <fa [name]="'check'"></fa>
            </div>
            <div class="control-button" (click)=cancel()>
                <fa [name]="'times'"></fa>
            </div>
        </div>
    </ng-template>

</div>