@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/variables.scss';
:host {
    display: flex;
    @media #{$phone} {
        flex-direction: column;
    }
}

.navigation {
    height: 30px;
    display: flex;
    min-width: 200px;
    & div {
        flex: 1;
        display: flex;
        @include centered();
        cursor: pointer;
        &:hover {
            color: $second-color;
        }
    }
}

.date {
    height: 30px;
    width: 100%;
    margin-right: 200px;
    display: flex;
    @include centered();
    @media #{$phone} {
        margin-right: initial;
    }
}

// .container {
//     overflow: hidden;
//     padding-bottom: 1%;
// }
// .box {
//     white-space: nowrap
// }
// .left-part,
// .center-part,
// .right-part {
//     width: 30%;
//     display: inline-block;
// }
// .center-part {
//     margin: 0% 5%;
//     text-align: center;
// }
// .btn-group {
//     width: 100%
// }
// .btn-group button {
//     width: 30%;
//     cursor: pointer;
// }