<div class="navigation">
    <div (click)="decrement()">
        <fa [name]="'arrow-left'"></fa>
    </div>
    <div (click)="today()">
        Сегодня
    </div>
    <div (click)="increment()">
        <fa [name]="'arrow-right'"></fa>
    </div>
</div>
<div class="date">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</div>

<!--<div class="container">
    <div class="box">
        <div class="left-part">
            <div class="btn-group">
                <button (click)="decrement()">
                    Prew
                </button>
                <button (click)="today()">
                    Today
                </button>
                <button (click)="increment()">
                    Next
                </button>
            </div>
        </div>
        <div class="center-part">
            <div>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</div>
        </div>
        <div class="right-part">
        </div>
    </div>
</div>-->