.dropzone-page {
    margin-bottom: 20px;
}

.dropzone-container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    height: 150px;
    width: 100%;
    margin: 10px auto;
}

.dropzone-box {
    width: 65%;
    display: flex;
}

.drag-n-drop-container {
    margin: auto;
    height: 80%;
    width: 95%;
    box-shadow: -7px 6px 20px 0px rgba(0,0,0,0.3);
    display: flex;
}

.drag-n-drop {
    width: 95%;
    margin: auto;
    border: 2px dashed rgba(0,0,0,1);
    box-sizing: border-box;
    height: 80%;
    background-color: white;
    cursor: pointer;
    opacity: .5;
    display: flex;
    transition: all .5s ease;
}

.drag-n-drop:hover {
    opacity: 1;
}

.drag-n-drop input {
    display: none;
}

.text-wrapper {
    margin: auto;
    text-align: center;
}

.upload-text {
    font-size: 1.2em;
}

.files-list-box {
    width: 35%;
    display: flex;
}

.files-list {
    max-height: 120px;
    width: 95%;
    height: 80%;
    margin: auto;
    overflow: auto;
    box-shadow: -7px 6px 20px 0px rgba(0,0,0,0.3);
    padding: 0px 10px;
    box-sizing: border-box;
}

.files-list::-webkit-scrollbar {
    width: 5px;
}

.files-list::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 10px;
}

.error-box {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.error-text {
    margin: auto auto 10px auto;
}

.invalid-files-list-box {
   margin: auto
}

.invalid-files-list {
    max-height: 120px;
}

.upload-button-box {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.upload-button {
    margin: auto;
    height: 100%;
    width: 200px;
    display: flex;
    cursor: pointer;
    box-shadow: -7px 6px 20px 0px rgba(0,0,0,0.3);
}

.upload-button div {
    margin: auto;
}

.disabled {
    cursor: context-menu;
    opacity: 0.5;
    transition: all .5s ease;
    pointer-events: none;
    user-select: none; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}
