<div class="dropzone">
    <input #uploadFileInput multiple type="file" (change)="filesDropped($event.target.files)">
    <div (click)="onUploadFileInputClick()" (filesDropped)="filesDropped($event)" healthDragNDrop>
        Выберите файлы <br> {{hint}}
    </div>
</div>
<div class="files">
    <div class="wrapper" *ngIf="loading">
        <div class="spinner"></div>
    </div>
    <div class="list" (scroll)="onScroll($event)">
        <health-file-to-upload *ngFor="let file of allowFilesToUpload" [file]="file" [allowed]="true" (deleteFileEvent)="deleteFileToUpload($event)"></health-file-to-upload>
    </div>
    <div class="button" (click)="upload()" [ngClass]="{disabled: disabledUploadButton()}">Загрузить</div>
</div>