<div class="header-page">
    <div class="header-container">
        <div class="logo-box">
            <div class="title">HEALTH</div>
        </div>
        <div class="link-box">
            <div class="link" [routerLink]="['/sidenav']">
                <div>Расписание</div>
            </div>
            <div class="link" [routerLink]="['/prices']">
                <div>Цены</div>
            </div>
            <div class="link" (click)="openChat()">
                <div>Чат</div>
            </div>
            <div class="link" [routerLink]="['/auth']">
                <div>Войти</div>
            </div>
        </div>
    </div>

    <div *ngIf="isOpen">
        <health-chat-window 
            [messages]="messages"
            [unreadMessages]="passUnreadMessages()" 
            [currentUser]="currentUser"
            [interlocutor]="interlocutor" 
            (closeEvent)="close($event)">
        </health-chat-window>
    </div>
</div>