.header-page {
    height: 100%;
    width: 100%;
    background-color: #333;
}

.header-container {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
}

.menu-box {
    position: absolute;
    left: 10px;
    top: 6px;
    cursor: pointer;
}

.line1,
.line2,
.line3 {
    background: white;
    height: 4px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}

.line1.change {
    transform: rotate(-45deg) translate(-5px, 0px) ;
    width: 15px;
}

.line3.change {
    transform: rotate(45deg) translate(-5px, 0px) ;
    width: 15px;
}

.logo-box, .link-box {
    width: 50%;
    display: flex;
}

.logo-box {
    margin: auto;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: initial;
}

.link {
    width: 100%;
    cursor: pointer;
    display: flex;
    height: 100%;
    outline: initial;
}

.link:hover {
    background-color: black;
}

.link div {
    margin: auto;
    color: white;
    text-decoration: initial;
}
