<div class="header-page">
    <div class="header-container">
        <div class="menu-box" (click)="openSidenav()" *ngIf="isAuth">
            <div class="line1" [ngClass]="{change: isOpenSidenav}"></div>
            <div class="line2" [ngClass]="{change: isOpenSidenav}"></div>
            <div class="line3" [ngClass]="{change: isOpenSidenav}"></div>
        </div>
        <div class="logo-box">
            <div class="title" [routerLink]="['/sidenav']">HEALTH</div>
        </div>
        <div class="link-box">
            <div class="link" [routerLink]="['/sidenav']">
                <div>Расписание</div>
            </div>
            <div class="link" [routerLink]="['/prices']">
                <div>Цены</div>
            </div>
            <div class="link" (click)="openChat()" *ngIf="isAuth">
                <div>Чат</div>
            </div>
            <div class="link" [routerLink]="['/auth']" *ngIf="!isAuth">
                <div>Войти</div>
            </div>
        </div>
    </div>

    <div *ngIf="isOpen">
        <health-chat-window 
            [messages]="messages"
            [unreadMessages]="passUnreadMessages()" 
            [currentUser]="currentUser"
            [interlocutor]="interlocutor" 
            (closeEvent)="close($event)">
        </health-chat-window>
    </div>
</div>