<div class="left">
    <div class="menu" (click)="openHeaderNav()" [ngClass.xs]="{opened: !hide}">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="logo" [routerLink]="['/sidenav']">
        company<span>logo</span>
    </div>
</div>
<div class="center" [ngClass.xs]="{hide: hide}">
    <div class="button" [routerLink]="['/sidenav']" routerLinkActive="active">Расписание</div>
    <div class="button" [routerLink]="['/prices']" routerLinkActive="active">Цены</div>
</div>
<div class="right" [ngClass.xs]="{hide: hide || path === '/auth'}" [ngClass]="{'hide': path === '/auth'}">
    <div class="button" (click)="onAuthClick()">
        {{isAuth ? 'Выйти' : 'Войти'}}
    </div>
</div>

<!--<div *ngIf="isOpen">
        <health-chat-window 
            [messages]="messages"
            [unreadMessages]="passUnreadMessages()" 
            [currentUser]="currentUser"
            [interlocutor]="interlocutor" 
            (closeEvent)="close($event)">
        </health-chat-window>
    </div>-->