@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/variables.scss';
:host {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    margin: 5px;
}

.schedule {
    margin: 5px;
}

.container {
    display: flex;
    margin: 0 10%;
    @media screen and (max-width: 1400px) {
        margin: initial;
    }
    @media #{$phone} {
        flex-direction: column;
    }
}

.left,
.right {
    flex: 1;
    margin: 5px;
    box-sizing: border-box;
    background: $background-color;
    display: flex;
    flex-direction: column;
}

.info,
.pay {
    display: flex;
    @include centered();
    margin: 10px;
    text-align: center
}

.time {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    & input {
        background: initial;
        border: initial;
        box-sizing: border-box;
        outline: initial;
        padding: initial;
        height: 30px;
        border-bottom: 1px solid $border-color;
        width: 50px;
        text-align: center;
        &:focus {
            border-color: $second-color;
        }
    }
}

.date {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
}

.list {
    height: 100%;
    overflow: auto;
    margin: 5px;
    box-sizing: border-box;
    padding-left: 10%;
}

.appointment {
    display: flex;
    margin: 5px 0;
    & div:nth-child(1) {
        flex: 1;
    }
    & div:nth-child(2) {
        flex: 3;
    }
}

.button {
    display: flex;
    @include centered();
    & div {
        color: lighten($primary-color, 50%);
        background: lighten($primary-color, 5%);
        cursor: pointer;
        height: 40px;
        flex: 1;
        display: flex;
        @include centered();
        &:hover {
            background: darken($second-color, 5%);
            color: $white;
        }
    }
}

.disabled {
    cursor: context-menu;
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & div:nth-child(1) {
        margin: 10px;
    }
    & input {
        height: 25px;
        background: initial;
        outline: initial;
        border: 1px solid $border-color;
        font-family: Rubik;
        &:focus {
            border-color: $second-color;
        }
    }
}

.tabs {
    height: 30px;
    display: flex;
}

.tab {
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid $border-color;
    margin: 0px 5px;
}