<div class="header">
    <health-calendar-header [(view)]="view" (viewDateChange)="selectToday($event)" [(viewDate)]="viewDate">
    </health-calendar-header>
    <div class="tabs" *ngIf="!isAdmin">
        <div class="tab" *ngFor="let doctor of userDoctors" (click)="selectDoctor(doctor)">
            {{doctor.lastName}}
        </div>
        <div class="tab" (click)="openDoctorList()">
            <fa [name]="'plus'"></fa>
        </div>
    </div>
    <div class="doctors-list" *ngIf="isOpenDoctorList">
        <div *ngFor="let doctor of allDoctors" (click)="addDoctor(doctor)">{{doctor.lastName}}</div>
    </div>
</div>
<div class="schedule">
    <mwl-calendar-month-view [weekStartsOn]="weekStartsOn" [locale]="locale" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen"
        [openDayEventsTemplate]="customOneDayViewTemplate" [dayModifier]="selectDay" (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
</div>

<ng-template #customOneDayViewTemplate>
    <div class="container">
        <div class="left">
            <div class="date">{{viewDate | dateTimeFormat}}</div>
            <div class="list">
                <health-event [role]="user?.role" [event]="event" (onEditEvent)="edit($event)" (onDeleteEvent)="delete($event)" *ngFor="let event of oneDayEvents"></health-event>
            </div>
        </div>
        <div class="right" *ngIf="isAuth">
            <div class="info" *ngIf="isAdmin && editAppointment">
                Вы редактируете {{editEvent.title}} {{editEvent.start | timeFormat}} - {{editEvent.end | timeFormat}}
            </div>
            <div class="choose" *ngIf="isAdmin && !editAppointment">
                <div>
                    Сделать новую запись
                </div>
                <input auto-complete [list-formatter]="listFormatter" [value-formatter]="valueFormatter" [match-formatted]="matchFormatted"
                    [(ngModel)]="clientName" [no-match-found-text]="noMatchFoundText" (valueChanged)="onValueChanged($event)"
                    [source]="allClients" />
            </div>
            <div class="info">Введите удобное для Вас время</div>
            <div class="time" [formGroup]="newAppointmentForm">
                <input type="text" formControlName="start" [textMask]="{mask: mask(newAppointmentForm.value.start), keepCharPositions:true}"
                    (focusout)="onFocusOut(true)" placeholder="00:00">
                <input type="text" formControlName="end" [textMask]="{mask: mask(newAppointmentForm.value.end), keepCharPositions:true}"
                    (focusout)="onFocusOut(false)" placeholder="00:00">
            </div>
            <div class="info" *ngIf="timeValidation">{{timeValidation}}</div>
            <div class="pay" *ngIf="!isAdmin">
                <label><input type="checkbox" id="pay" [checked]="payed" (change)="payed = !payed">Оплатить</label>
            </div>
            <div class="button">
                <div (click)="addEvent()" [ngClass]="{disabled: !allowToSaveEvent}">Запись</div>
                <div *ngIf="editAppointment" (click)="cancel()">Отмена</div>
            </div>
        </div>
    </div>
</ng-template>