.schedule {
    margin: 2%;
}

.one-day-box {
    background: white;
    border: 1px solid #e1e1e1;
    color: black;
    display: flex;
}

.event-box, .appointment-box {
    width: 100%;
}

.appointment {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.date-box {
    display: flex;
    margin: 10px 0;
}

.date {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.events-list {
    width: 60%;
    margin: 10px auto;
}

.info-box,
.time-box,
.error-box,
.control-box,
.pay-box {
    margin: 10px auto;
    width: 100%;
}

.info-box,
.error-box {
    text-align: center;
}

.time-box {
    display: flex;
    justify-content: space-around;
}

.start-time input,
.end-time input {
    border: initial;
    outline: initial;
    border-bottom: 1px solid black;
    text-align: center;
}

.control-box,
.pay-box {
    display: flex;
}

.pay-box label {
    margin: auto;
}

.control-button {
    margin: auto;
    height: 40px;
    width: 200px;
    display: flex;
    box-shadow: -3px 4px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.control-button:hover {
    box-shadow: -3px 4px 3px rgba(0, 0, 0, 0.5);
}

.control-button:active {
    box-shadow: -3px 4px 3px rgba(0, 0, 0, 0.2);
}

.control-button div {
    margin: auto;
}



/*.appointment {
    height: 100%;
    width: 100%;
    display: flex;
}

.events, .appointment-form {
    width: 50%;
    display: inline-block
}

.events {
    background-color: lightgreen
}

.appointment-form {
    background-color: lightblue;
}

.client-name {
    width: 100%;
}*/
