<!--TODO temporary-->
<!--<ng-template #loading>
<div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading events...
</div>
</ng-template>-->

<div class="schedule">

    <mwl-calendar-header 
        [(view)]="view" 
        [(viewDate)]="viewDate">
    </mwl-calendar-header>

    <div [ngSwitch]="view">
        <div *ngSwitchCase="'month'">
            <mwl-calendar-month-view 
                [weekStartsOn]="weekStartsOn" 
                [locale]="locale" 
                [viewDate]="viewDate" 
                [events]="events"
                [activeDayIsOpen]="activeDayIsOpen"
                [openDayEventsTemplate]="customOneDayViewTemplate"
                (dayClicked)="dayClicked($event.day)">
            </mwl-calendar-month-view>
        </div>
        <div *ngSwitchCase="'week'">
            <mwl-calendar-week-view 
                [weekStartsOn]="weekStartsOn" 
                [locale]="locale" 
                [viewDate]="viewDate" 
                [events]="events"
                [eventTemplate]="customWeekEventTemplate"
                (dayClicked)="clickedDate = $event.date">
            </mwl-calendar-week-view>
        </div>
        <div *ngSwitchCase="'day'">
            <mwl-calendar-day-view 
                [locale]="locale" 
                [viewDate]="viewDate" 
                [events]="events"
                [dayStartHour]="9"
                [dayEndHour]="18"
                [hourSegments]="6"    
                (hourSegmentClicked)="onHourClick($event)">
            </mwl-calendar-day-view>
            <div>
                <!--<input [ngModel]="momentValue | date: 'short'" [dateTimePicker]="momentValue" (dateTimePickerChange)="setMoment($event)" readonly />-->
            </div>
        </div>
    </div>
</div>

<!--template for event in week view-->
<ng-template #customWeekEventTemplate>
    {{event}}
</ng-template>
<!---->

<!--template for One Day View-->
<ng-template #customOneDayViewTemplate>
    <div class="appointment">
        <div class="events">
            {{viewDate | dateTimeFormat}}
            <div *ngFor="let event of oneDayEvents">
                {{event.start | timeFormat}} - {{event.end | timeFormat}} : {{event.title}}
            </div>
        </div>
        <div class="appointment-form">
            <button *ngIf="!showAppointmentForm" (click)="showAppointmentForm = !showAppointmentForm">Записаться</button>
            <div *ngIf="showAppointmentForm">
                Укажите время:
                <div [formGroup]="newAppointmentForm">
                    <input formControlName="start" [textMask]="{mask: mask(newAppointmentForm.value.start), keepCharPositions:true}" type="text" placeholder="00:00">
                    <input formControlName="end" [textMask]="{mask: mask(newAppointmentForm.value.end), keepCharPositions:true}" type="text" placeholder="00:00">
                </div>
                <div>
                    <label for="pay">Оплатить</label>
                    <input id="pay" type="checkbox" [checked]="payed" (change)="payed = !payed">
                    {{payed}}
                    <div>
                        {{timeValidation}}
                        !!{{validTime}}!!
                    </div>
                </div>
                <button (click)="addEvent();showAppointmentForm = false">Сохранить</button>
                <button (click)="showAppointmentForm = false">Отмена</button>
            </div>
        </div>
    </div>
</ng-template>