.chat-window {
    border: 1px solid;
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 250px;
    height: 300px;
    z-index: 1000;
}

.header {
    background-color: white;
    height: 10%;
    display: flex;
}

.name {
    display: inline-block;
    width: 70%;
}

.controls {
    display: inline-flex;
    width: 30%;
}

.close, .hide {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    text-align: center;
}

.body {
    background-color: blue;
    height: 90%;
}

.users-box {
    background-color: yellow;
    height: 20%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.messages-box {
    background-color: lightcyan;
    height: 65%;
    overflow: auto;
}

.sending-box {
    background-color: green;
    height: 15%;
}

.user {
    display: inline-block;
    height: 100%;
    border: 1px solid;
    min-width: 60px;
    margin: 5px 5px;
}

.message {
    border: 1px red solid;
    box-sizing: border-box;
    margin: 2%;
}

.incoming {
    border: 1px blue solid;
}

.unread-user {
    background-color: lightgray;
}
