.chat-window {
    position: fixed;
    right: 10px;
    bottom: 30px;
    min-width: 250px;
    height: 300px;
    display: flex;
    z-index: 1;
}

.users-box {
    height: inherit;
    width: 250px;
    margin-right: 20px;
    background-color: aquamarine;
    border: 1px solid;
    box-sizing: border-box;
}

.chat-box {
    height: inherit;
    width: 250px;
    background-color: khaki;
    border: 1px solid;
    box-sizing: border-box;
}

.search-box {
    height: 15%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    box-sizing: border-box;
}

.search-input {
    margin: auto;
    width: 80%;
    height: 50%;
}

.header, .footer {
    height: 15%;
    box-sizing: border-box;
}

.header {
    border-bottom: 1px solid;
    display: flex;
}

.title {
    width: 90%;
    height: 100%;
    text-align: center;
}

.control {
    width: 10%;
    height: 100%;
}

.close, .hide {
    height: 50%;
    text-align: center;
    cursor: pointer;  
}

.body {
    height: 70%;
}

.footer {
    border-top: 1px solid;
}



/*.chat-window {
    border: 1px solid;
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 250px;
    height: 300px;
    z-index: 1000;
}

.header {
    background-color: white;
    height: 10%;
    display: flex;
}

.name {
    display: inline-block;
    width: 70%;
}

.controls {
    display: inline-flex;
    width: 30%;
}

.close, .hide {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    text-align: center;
}

.body {
    background-color: blue;
    height: 90%;
}

.users-box {
    background-color: yellow;
    height: 20%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.messages-box {
    background-color: lightcyan;
    height: 65%;
    overflow: auto;
}

.sending-box {
    background-color: green;
    height: 15%;
}

.user {
    display: inline-block;
    height: 100%;
    border: 1px solid;
    min-width: 60px;
    margin: 5px 5px;
}

.message {
    border: 1px red solid;
    box-sizing: border-box;
    margin: 2%;
}

.incoming {
    border: 1px blue solid;
}

.unread-user {
    background-color: lightgray;
}*/
