<div class="chat-window" [style.display]="isHide ? 'none' : 'flex'">
  <div class="users-box" *ngIf="isShowUserBox">
    <div class="search-box">
      <input class="search-input" type="text" placeholder="Поиск..." [(ngModel)]="queryUser" (keyup)="onSearchKeyUp()">
    </div>
    <div class="users-list">
      <div class="user" *ngFor="let client of clientsFound" (click)="onClientClick(client)">
        <div class="photo-box">
          <img src="assets/images/profile.jpg" alt="">
        </div>
        <div class="info-box">
          <div class="name">{{client.firstName}} {{client.lastName}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-box">
    <div class="header">
      <div class="show-users" (click)="showUserBox()" *ngIf="isAdmin">
        <fa [name]="'users'"></fa>
      </div>
      <div class="title-box" (click)="hide()" [ngClass]="{hide: !isAdmin}">
        <div class="title">{{interlocutor?.firstName}} {{interlocutor?.lastName}}</div>
      </div>
      <div class="close" (click)="close()">
        <fa [name]="'times'"></fa>
      </div>
    </div>
    <div #scrollBody class="body" (scroll)="onScroll($event)">
      <div class="message" *ngFor="let message of getCurrentChatMessages" [ngClass]="{'incoming': isIncoming(message)}">
        <div class="time">{{message.date | chatDateTime}}</div>
        <div class="text">
          <!--{{member(message)}}:-->
          {{message.message}}
        </div>
      </div>
    </div>
    <div class="footer">
      <textarea class="new-message" rows="2" placeholder="Ваше сообщение..." (keypress)="preventEnter($event)" (keyup)="onTextAreaKeyUp($event)"
        [(ngModel)]="message"></textarea>
    </div>
  </div>
</div>

<div class="hided-chat-window" [style.display]="isHide ? 'flex' : 'none'">
  <div class="chat-box">
    <div class="header hide">
      <div class="title-box hide" (click)="hide()">
        <div class="title">{{interlocutor?.name}}</div>
      </div>
      <div class="close" (click)="close()">
        <fa [name]="'times'"></fa>
      </div>
    </div>
  </div>
</div>