<div #chatWindow class="chat-window">
  <div class="header">
    <div class="name">chat - {{client?.name}}</div>
    <div class="controls">
      <div class="hide" (click)="hide()">-</div>
      <div class="close" (click)="close()">x</div>
    </div>
  </div>
  <div #chatBody class="body">
    <!--<div class="users-box">users</div>-->
    <div class="messages-box">
      <div *ngFor="let msg of messages">{{msg | json}}</div>
    </div>
    <div class="sending-box">
      <input type="text" [(ngModel)]="message">
      <button (click)="sendMessage()">send</button>
    </div>
  </div>
</div>