<div class="name" *ngIf="user">{{user.firstName}} {{user.lastName}}</div>
<div class="basic" *ngIf="user">
    <div class="image">
        <div class="spinner" *ngIf="loading"></div>
        <img src="{{src}}" alt="profile image" *ngIf="!loading">
        <input #profileImage accept="image/jpeg, image/png" type="file" (change)="onFileChange($event.target.files[0])">
        <div class="upload" (click)="choosePhoto()" *ngIf="isMyPage && !loading">Загрузить</div>
    </div>
    <div class="info">
        <div class="form" *ngIf="!editing;else editProfile">
            <div class="row">
                <div>Фамилия</div>
                <div>{{user.lastName}}</div>
            </div>
            <div class="row">
                <div>Имя</div>
                <div>{{user.firstName}}</div>
            </div>
            <div class="row">
                <div>Отчество</div>
                <div>{{user.middleName ? user.middleName : 'Не указано'}}</div>
            </div>
            <div class="row">
                <div>День рождения</div>
                <div>{{user.birth ? user.birth.formatted : 'Не указан'}}</div>
            </div>
            <div class="row">
                <div>Телефон</div>
                <div>{{user.phone ? user.phone : 'Не указан'}}</div>
            </div>
            <div class="row">
                <div>Адрес</div>
                <div>{{user.location ? user.location : 'Не указан'}}</div>
            </div>
            <div class="row">
                <div>Пол</div>
                <div>{{setGender ? setGender : 'Не указан'}}</div>
            </div>
        </div>

        <ng-template #editProfile>
            <div class="form" [formGroup]="profileForm">
                <div class="row">
                    <div>Фамилия</div>
                    <input type="text" formControlName="lastName">
                </div>
                <div class="row">
                    <div>Имя</div>
                    <input type="text" formControlName="firstName">
                </div>
                <div class="row">
                    <div>Отчество</div>
                    <input type="text" formControlName="middleName">
                </div>
                <div class="row">
                    <div>День рождения</div>
                    <input type="text" formControlName="birth" [options]="myDatePickerOptions" ngx-mydatepicker #dp="ngx-mydatepicker" readonly
                        (click)="dp.toggleCalendar()">
                </div>
                <div class="row">
                    <div>Телефон</div>
                    <input type="text" formControlName="phone">
                </div>
                <div class="row">
                    <div>Адрес</div>
                    <textarea rows="5" type="text" formControlName="location"></textarea>
                </div>
                <div class="row">
                    <div>Пол</div>
                    <div class="gender">
                        <label><input type="radio" formControlName="gender" value="male">Ура, я мужчина!</label>
                        <label><input type="radio" formControlName="gender" value="female">Женщина</label>
                        <label><input type="radio" formControlName="gender" value="">Не указан</label>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="buttons" [ngSwitch]="controls" *ngIf="isAdmin !=undefined">
            <div *ngSwitchCase="'myPage'">
                <div (click)="edit()">Редактировать</div>
            </div>
            <div *ngSwitchCase="'edit'">
                <div (click)="cancel()">Отмена</div>
                <div (click)="save()">Сохранить</div>
            </div>
            <div *ngSwitchCase="'admin'">
                <div (click)="delete()">Удалить</div>
                <div (click)="openChat()" *ngIf="user.role === 1">Связаться</div>
            </div>
            <div *ngSwitchCase="'user'">
                <div (click)="openChat()">Связаться</div>
            </div>
        </div>
    </div>
</div>
<div class="addition" *ngIf="user">
    <div>Дополнительная информация</div>
    <ul>
        <li>Оформлена подписка на 5 посещений</li>
        <li>Прием 18.07.2017 с 17:00 по 18:00</li>
    </ul>
</div>
<div class="files" *ngIf="user && isAdmin && !isMyPage">
    <health-user-file *ngFor="let file of user.files" (deleteFileEvent)="deleteFile($event)" [file]="file" [isAdmin]="true"></health-user-file>
</div>