@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/variables.scss';
:host {
    background: lighten($primary-color, 80%);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name {
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background: $background-color;
}

.basic {
    display: flex;
    margin: 10px 5px;
    @media screen and (max-width: 959px) {
        flex-direction: column;
        align-items: center;
    }
}

.image {
    width: 400px;
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-color;
    @media screen and (max-width: 959px) {
        margin-right: initial;
        margin-bottom: 10px;
        height: 350px;
        width: 350px;
    }
    @media #{$phone} {
        height: 300px;
        width: 300px;
    }
    & img {
        max-width: 95%;
        max-height: 95%;
    }
    & input {
        display: none;
    }
    & .upload {
        position: absolute;
        bottom: 0px;
        left: 0;
        background: lighten($primary-color, 5%);
        color: lighten($primary-color, 50%);
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0.7;
        &:hover {
            background: darken($second-color, 5%);
            color: $white;
        }
    }
}

.info {
    width: 100%;
    background: lighten($primary-color, 70%);
    margin-left: 10px;
    position: relative;
    @media screen and (max-width: 959px) {
        margin-left: initial;
        margin-bottom: 10px;
    }
}

.form {
    margin-bottom: 50px;
}

.addition {
    flex: 1;
    background: lighten($primary-color, 70%);
    margin: 10px 5px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    & div {
        width: 50%;
    }
    & div:nth-child(2) {
        text-align: end;
        word-wrap: break-word;
    }
    & input[type="text"],
    textarea {
        width: 50%;
        background: initial;
        border: initial;
        border-bottom: 1px solid $second-color;
        outline: initial;
        box-sizing: border-box;
        text-align: end;
        font-family: Comfortaa;
    }
}

.gender {
    display: flex;
    flex-direction: column;
}

.buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    & div {
        width: 100%;
        height: 40px;
        background: lighten($primary-color, 5%);
        display: flex;
        color: lighten($primary-color, 50%);
        cursor: pointer;
        @include centered();
        &:hover {
            background: darken($second-color, 5%);
            color: $white;
        }
    }
}

.files {
    background: $background-color;
    margin: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spinner {
    @include loader();
}