@import "../node_modules/angular-calendar/dist/css/angular-calendar.css";
@import './assets/styles/fonts.scss';
@import './assets/styles/variables.scss';
body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: initial;
}


/*-----override calendar styles-----*/

.cal-day-cell {
    cursor: pointer !important;
}

.cal-day-selected {
    background-color: rgba(18, 43, 64, 0.18) !important;
}

.cal-day-selected:hover {
    background-color: #ededed !important;
}

.cal-day-disabled {
    cursor: initial !important;
}

.cal-day-disabled .cal-day-number {
    opacity: 0.2;
}

.cal-open-day-events {
    padding: initial !important;
    background: initial !important;
    box-shadow: initial !important;
    border-bottom: 1px solid #e1e1e1 !important;
    color: black !important;
    box-sizing: border-box !important;
}


/*----------------------------------*/


/*-----override datepicker styles-----*/

.selectorarrow {
    margin-top: 32px !important;
}


/*------------------------------------*/