$primary-color: #292c2f;
$second-color: #20b2aa;
$button-color: darken($primary-color, 5%);
$border-color: lighten($primary-color, 65%);
$background-color: lighten($primary-color, 70%);
$white: #ffffff;
$fb-color:#3b5998;
$vk-color:#45668e;
$google-color:#dd4b39;
$skype-color:#12a5f4;
$phone: 'screen and (max-width: 599px)';
$tablet: 'screen and (max-width: 959px)';
$desctop: 'screen and (min-width : 600px) and (max-width : 5000px)';
@mixin centered() {
    justify-content: center;
    align-items: center;
}

@mixin width($w) {
    min-width: $w;
    max-width: $w;
}

@mixin loader {
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}