<div class="content">
    <div class="footer-block">
        <div class="block-image">
            <fa [name]="'map-o'" [size]="2"></fa>
        </div>
        <div class="block-info">
            <div class="title">Адрес</div>
            г.Ростов-на-Дону, <br> ул.Пушкинская, <br> 157-161, кв. 61
        </div>
    </div>
    <div class="footer-block">
        <div class="block-image">
            <fa [name]="'address-book-o'" [size]="2"></fa>
        </div>
        <div class="block-info">
            <div class="title">Контакты</div>
            yourockdude@yandex.ru <br> +7(928)954-54-51 <br> +7(928)954-54-52
        </div>
    </div>
    <div class="footer-block">
        <div class="block-image">
            <fa [name]="'users'" [size]="2"></fa>
        </div>
        <div class="block-info">
            <div class="title">Социальные сети</div>
            <div class="social">
                <div class="vk">
                    <fa [name]="'vk'" [size]="2"></fa>
                </div>
                <div class="skype">
                    <fa [name]="'skype'" [size]="2"></fa>
                </div>
                <div class="google">
                    <fa [name]="'google'" [size]="2"></fa>
                </div>
                <div class="fb">
                    <fa [name]="'facebook'" [size]="2"></fa>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div>&copy; CompanyName 2017 All Rights Reserved</div>
    <div>Created by yourockdude</div>
</div>